Figure.numbers
Report.pages
data/
model.npy
model/model_0.npy
model/model_1.npy
model/model_100.npy
model/model_1000.npy
model/model_2.npy
model/model_200.npy
model/model_300.npy
model/model_400.npy
model/model_500.npy
model/model_600.npy
model/model_700.npy
model/model_800.npy
model/model_900.npy
model/model_base.npy
result/
README.md