data/
image/
**/__pycache__

*.png
*.hdf5

model/dnn_epoch300_G_0/*
model/easy_epoch300_0/*
model/semi_epoch150_0/*
model/strong_epoch300_G_0/*
model/strong_epoch0_G_0/*

!model/easy_epoch300_0/best_model.hdf5
!model/strong_epoch0_G_0/best_model.hdf5.tar.*

prediction.csv
report.pages
